<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXjB1c9-vcM00olsuqsO_nFQ_j8nxnSyI</string>
	<key>GCM_SENDER_ID</key>
	<string>566821895818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neurospark.nerdNudge</string>
	<key>PROJECT_ID</key>
	<string>nerdnudgetest</string>
	<key>STORAGE_BUCKET</key>
	<string>nerdnudgetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566821895818:ios:5866799048e483aa687773</string>
</dict>
</plist>